@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .fab {
        font-size: 3rem;
        color: #ffffff;
    }
    .bg-real-gray-900 {
        background-color: #383838;
    }
    .bg-real-gray-700 {
        background-color: #2f3437;
    }
    .real-gray-700 {
        color: #2f3437;
    }
    .font-ubuntu {
        font-family: Ubuntu
    }
    .code-text-dark-blue {
        color: #42a5f5
    }
    .code-text-light-blue {
        color: #00acc1
    }
    .code-text-light-green {
        color: #4caf50
    }
    .code-text-comment {
        @apply text-gray-700 italic;
    }
    .code {
        @apply bg-black mt-5 rounded-lg lg:w-6/12 p-2 m-auto;
    }
    .bg-orange-500 {
        background-color: #ff9900
    }
  }

